agm-map {
  width: 80vw;
  height: 90vh;
}

.contenedor {
  width: 80vw;
  height: 100%;
}

google-map {
  height: 100% !important;
  width: 100% !important;
}

table * {
  padding: 5px;
  line-height: 1em;
}

.my-salir {
  background-color: rgb(177, 177, 177);
  display: block;
  width: 100%;
}
