<br>
<div class="contenedor">
    <div class="tarjetas">

        <div *ngIf="agregandoNuevo" class="tarjeta agregandoNueva mat-elevation-z4" style="display: block;">

            <ng-container *ngIf="nuevoDomicilio.localidad.id; else esValidaLaNuevaDireccion">
                <button mat-raised-button class="my-agregar" (click)="agregarNuevoDomicilio(formularioNuevo)"
                    style="border-radius: 15px 0px 0px 0px;">
                    Agregar <mat-icon>save</mat-icon>
                </button>
            </ng-container>
            <ng-template #esValidaLaNuevaDireccion>
                <button mat-raised-button class="my-disableButton" style="border-radius: 15px 0px 0px 0px;"
                    disabled="true" matTooltip="Al Menos seleccione una localidad">
                    Agregar <mat-icon>save</mat-icon>
                </button>
            </ng-template>

            <button mat-raised-button class="my-eliminar" (click)="agregandoNuevo = !agregandoNuevo"
                style="border-radius: 0px 15px 0px 0px;">
                Cancelar <mat-icon>close</mat-icon>
            </button>


            <form #formularioNuevo="ngForm">
                <table>
                    <tbody class="displayDomicilio">
                        <tr>
                            <th>Departamento</th>
                            <td>
                                <select type="text" name="Ndepartamento"
                                    (change)="onChangeNuevoDepartamento($event.target.value)">
                                    <option value="-1" selected disabled hidden>
                                        Elija Un Departamento
                                    </option>
                                    <option [value]="departamento.id" *ngFor="let departamento of departamentos">
                                        {{departamento.denominacion}}
                                    </option>
                                </select>
                            </td>


                            <th>Distrito</th>
                            <td>
                                <select type="text" name="Nlocalidad"
                                    (change)="onChangeNuevaLocalidad($event.target.value)">
                                    <option value="-1" selected disabled hidden>
                                        Elija Una Localidad
                                    </option>
                                    <option [value]="localidad.id" *ngFor="let localidad of localidades">
                                        {{localidad.denominacion}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Barrio</th>
                            <td><input type="text" name="Nbarrio" [(ngModel)]="nuevoDomicilio.barrio"></td>
                            <th>Calle</th>
                            <td><input type="text" name="Ncalle" [(ngModel)]="nuevoDomicilio.calle"></td>

                        </tr>
                        <tr>
                            <th>Manzana</th>
                            <td><input type="text" name="Nmanzana" [(ngModel)]="nuevoDomicilio.manzana">
                            </td>
                            <th>Altura / Casa</th>
                            <td><input type="number" name="Nnumero" [(ngModel)]="nuevoDomicilio.numero"></td>

                        </tr>
                        <tr>
                            <th>Piso</th>
                            <td><input type="number" name="Npiso" [(ngModel)]="nuevoDomicilio.piso"></td>
                            <th>Puerta</th>
                            <td><input type="text" name="Npuerta" [(ngModel)]="nuevoDomicilio.puerta">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>

        <div *ngIf="!agregandoNuevo" class="tarjeta agregarNueva mat-elevation-z4"
            (click)="agregandoNuevo = !agregandoNuevo">
            <p>AGREGAR NUEVA DIRECCIÓN</p>
        </div>

        <ng-container
            *ngFor="let domicilio of this.currentUser.domicilios; index as i">
            <div *ngIf="domicilio.status"  class="tarjeta mat-elevation-z4 animated zoomIn">
                <div class="cabecera">
                    <div class="legal">
                        <ng-container
                            *ngIf="domicilioEditando && domicilioEditando.id == domicilio.id; else noEditando ">

                            <ng-container *ngIf="domicilioEditando?.localidad.id != -1; else puedeGuardar">
                                <button mat-raised-button class="save" (click)="guardar()"
                                    style="border-radius: 15px 0px 0px 0px;">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </ng-container>
                            <ng-template #puedeGuardar>
                                <button mat-raised-button class="noPuedeGuardar" disabled="true"
                                    matTooltip="Al menos complete la localidad"
                                    style="border-radius: 15px 0px 0px 0px;">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </ng-template>

                        </ng-container>
                        <ng-template #noEditando>

                            <ng-container *ngIf="domicilioEditando?.localidad.id != -1; else noPuedeHabilitarEdicion">
                                <button mat-raised-button class="editar" (click)="activarEdicion(domicilio, i)"
                                    style="border-radius: 15px 0px 0px 0px;">
                                    <mat-icon>create</mat-icon>
                                </button>
                            </ng-container>
                            <ng-template #noPuedeHabilitarEdicion>
                                <button mat-raised-button class="noPuedeGuardar"
                                    style="border-radius: 15px 0px 0px 0px;" disabled="true"
                                    matTooltip="Guarde los cambios activos">
                                    <mat-icon>create</mat-icon>
                                </button>
                            </ng-template>

                        </ng-template>
                        <button mat-raised-button class="delete" (click)="eliminar(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>

                <!-- DATOS FIJOS  -->
                <div id="datos">
                    <div id="fijos" *ngIf="!(domicilioEditando && domicilioEditando.id == domicilio.id)">
                        <table>
                            <tbody class="displayDomicilio">
                                <tr>
                                    <th>Departamento</th>
                                    <td>{{domicilio.localidad.departamento.denominacion}}</td>
                                    <th>Distrito</th>
                                    <td>{{domicilio.localidad.denominacion}}</td>
                                </tr>
                                <tr>
                                    <th>Barrio</th>
                                    <td>{{domicilio.barrio}}</td>
                                    <th>Calle</th>
                                    <td>{{domicilio.calle}}</td>
                                </tr>
                                <tr>
                                    <th>Manzana</th>
                                    <td>{{domicilio.manzana}}</td>
                                    <th>Altura / Casa</th>
                                    <td>{{domicilio.numero}}</td>
                                </tr>
                                <tr>
                                    <th>Piso</th>
                                    <td>{{domicilio.piso}}</td>
                                    <th>Puerta</th>
                                    <td>{{domicilio.puerta}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="variables" *ngIf="domicilioEditando && domicilioEditando.id == domicilio.id">
                        <form>
                            <table>
                                <tbody class="displayDomicilio">
                                    <tr>

                                        <th>Departamento</th>
                                        <td>
                                            <select type="text" (change)="departamentoSeleccionado($event.target.value)"
                                                [(ngModel)]="this.domicilioEditando.localidad.departamento.id"
                                                name="departamento">
                                                <option [value]="departamento.id"
                                                    *ngFor="let departamento of departamentos">
                                                    {{departamento.denominacion}}
                                                </option>
                                            </select>
                                        </td>


                                        <th>Distrito</th>
                                        <td>
                                            <select type="text" (change)="localidadSeleccionada($event.target.value)"
                                                [(ngModel)]="this.domicilioEditando.localidad.id" name="localidad">
                                                <option value="-1" selected disabled hidden><span
                                                        style="color: red;">Elija
                                                        Una Localidad</span></option>
                                                <option [value]="localidad.id" *ngFor="let localidad of localidades">
                                                    {{localidad.denominacion}}
                                                </option>
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <th>Barrio</th>
                                        <td><input type="text" [(ngModel)]="domicilioEditando.barrio" name="barrio">
                                        </td>
                                        <th>Calle</th>
                                        <td><input type="text" [(ngModel)]="domicilioEditando.calle" name="calle"></td>

                                    </tr>
                                    <tr>
                                        <th>Manzana</th>
                                        <td><input type="text" [(ngModel)]="domicilioEditando.manzana" name="manzana">
                                        </td>
                                        <th>Altura / Casa</th>
                                        <td><input type="number" [(ngModel)]="domicilioEditando.numero" name="numero">
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Piso</th>
                                        <td><input type="number" [(ngModel)]="domicilioEditando.piso" name="piso"></td>
                                        <th>Puerta</th>
                                        <td><input type="text" [(ngModel)]="domicilioEditando.puerta" name="puerta">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </ng-container>



    </div>
</div>