.contenedor {
  text-align: center;
  background-image: url("https://www.ecestaticos.com/imagestatic/clipping/2c4/2c9/2c42c99705be178e5dfea05b5f5ed889/soy-cocinero-y-trabajo-donde-me-apetece-una-profesion-sin-paro.jpg?mtime=1579565836");
  height: 90vh;
  color: rgb(255, 255, 255);
}

h2,
h3,
p {
  text-shadow: 2px 2px 6px #000000;
}

a {
  text-shadow: 2px 2px 6px #02000000;
  color: rgb(0, 4, 255);
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.3em;
}

.fotos {
  display: flex;
  justify-content: space-around;
}

.fotos img {
  width: 40%;
  border: 5px solid white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
