/* .titulo{
    
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5em;
}

.head-toggle {
    text-align: center;
    justify-content: center;
}

.container-fluid{
    text-align: center;
    justify-content: center;
  
} */
