<div class="tarjetas estadistica mt-3" style="text-align: -webkit-center">
    <div class="tarjeta" [class.mat-elevation-z4]="true">
        <!-- ==========COMPONENTE DE LA IZQUIERDA ======= -->
        <div class="item1">
            <div class="encabezado">
                <mat-list-item>Top Clientes</mat-list-item>
            </div>

            <div class="tabla mt-5">
                <div *ngIf="verTop == false;else activada" class="botonesTabla">
                    <button mat-raised-button class="botonLargo" (click)="mostrarTop()"> Mostrar Tabla <mat-icon
                            [inline]="true"> play_arrow</mat-icon></button>
                </div>

                <ng-template #activada>
                    <div class="botonesActiva">
                    <button mat-raised-button class="botonLargo" (click)="mostrarTop()"> Ocultar Tabla <mat-icon
                            [inline]="true"> play_arrow</mat-icon></button>

                            <div *ngIf="dataSource.data.length > 0 ;else deshabilitado" >
                                <button mat-raised-button class="botonExcel"
                                    (click)="exporter.exportTable('xlsx',{fileName:'datosClientes'})">
                                    <mat-icon [inline]="true">assessment</mat-icon> Exportar excel
                                </button>
                                </div>

                                <ng-template #deshabilitado>
                                    <button mat-raised-button class="disabled" disabled="true">
                                    <mat-icon [inline]="true">assessment</mat-icon> Exportar excel
                                </button>
                                </ng-template>
                                </div>
                    <div class="tabla" class="mat-elevation-z8 mt-4">
                        <mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" matSort>
                            <!-- CLIENTE Column -->
                            <ng-container matColumnDef="nombre">
                                <mat-header-cell mat-sort-header *matHeaderCellDef> Cliente </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.nombre}}  {{element.apellido}}  </mat-cell>
                            </ng-container>

                            <!-- TOTAL PEDIDOS Column -->
                            <ng-container matColumnDef="pedidos.length">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad de Pedidos </mat-header-cell>
                                <mat-cell *matCellDef="let element">                                                               
                                    {{element.pedidos.length}}                                  
                            </mat-cell>
                                
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        </mat-table>
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- ==========BARRA DIVISORA ======= -->
        <div class="vertical-line" style="height: 600px;">
            <mat-divider [vertical]="true"></mat-divider>
        </div>

        <!-- ==========COMPONENTE DE LA DERECHA ======= -->
        
        <div class="item2">
            <form [formGroup]="forma">              
              
              <mat-form-field appearance="standard">
                <mat-label>Fecha Inicial</mat-label>
                <input matInput type="date" formControlName="fechaInicial"/>
              </mat-form-field>
              
              <mat-form-field appearance="standard">
                <mat-label>Fecha Final</mat-label>
                <input matInput type="date" formControlName="fechaFinal"/>
              </mat-form-field>

              <div *ngIf="(this.forma.get('fechaInicial').value) < (this.forma.get('fechaFinal').value);else error">              
                <button mat-raised-button class="my-editar" (click)="mostrarFechas()">Ver datos</button>
                </div>
                <ng-template #error>              
                    <button mat-raised-button class="disabled" disabled="true">Ver datos</button>
                       </ng-template>

            </form> 
             </div>
        </div>
</div>